@import "tailwindcss";

@plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: white;
}